.header {
  background-size: cover;
  height: 70vh;
  padding-bottom: 2rem;
  position: relative;
}
.header img {
  height: inherit;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
.recommended_text {
  font-size: 1.5rem;
  color: #f3f3f3;
  text-align: left;
  margin-left: 2rem;
}

.gradient {
  position: absolute;
  height: 70vh;
  width: 100vw;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 9) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
.gradient2 {
  position: absolute;
  height: 70vh;
  width: 100vw;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 3) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
.trailer_wrapper {
  padding: 4rem 1rem;
  background-color: #000000 !important;
  height: auto;
  color: #f3f3f3;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.trailer_description {
  margin-right: auto;
}
.trailer_video_wrapper {
  width: auto;
}
.trailer_video {
  width: inherit;
}
.movie_details {
  width: 30rem;
}
.movie_wrapper {
  padding: 7rem 1rem;
  background-color: #000000 !important;
  height: auto;
  color: #f3f3f3;
  z-index: 2;
}
.main_title {
  color: #f3f3f3;
  position: absolute;
  top: 11rem;
  left: 3rem;
  z-index: 1;
  font-size: 2rem;
  font-weight: 600;
}
.img_shadow {
  position: relative;
  background-color: #2b2b2b;
  height: 25rem;
  width: 16.3rem;
  top: -0.3rem;
  right: -0.8rem;
  border-radius: 1rem;
}
.movie_div {
  padding-top: 6rem;
}
.movie_overview {
  color: #f3f3f3;
  position: absolute;
  top: 15.5rem;
  left: 3rem;
  z-index: 1;
  font-size: 1rem;
  width: 40rem;
}
.movie_link {
  margin-top: 2rem;
  cursor: pointer;
}
.movie_release_date {
  color: #f3f3f3;
  position: absolute;
  top: 23rem;
  left: 3rem;
  z-index: 1;
  font-size: 0.8rem;
  width: 30rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-bottom: 2rem;
}

@media all and (max-width: 500px) {
  .main_title {
    color: #f3f3f3;
    position: absolute;
    top: 12rem;
    left: 3rem;
    z-index: 1;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .movie_overview {
    color: #f3f3f3;
    position: absolute;
    top: 15.5rem;
    left: 3rem;
    z-index: 1;
    font-size: 1rem;
    width: 30rem;
  }
  .movie_vote_average {
    margin-bottom: 2rem;
    padding: 0 3rem;
  }
  .movie_link {
    margin-top: 2rem;
    cursor: pointer;
    padding: 0 3rem;
  }
  .movie_release_date {
    padding: 0 3rem;
  }
  .movie_status {
    padding: 0 3rem;
  }
}
