:root {
  --primary: #f3f3f3;
  --secondary: #555555;
  --bg: #111;
  --red: #e50914;
}

.movie_details_body {
  background-color: var(--bg);
  height: auto;
  padding-bottom: 3rem;
}
.movie_wrapper {
  padding: 10rem 4rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap-reverse;
  color: var(--primary);
}
.left {
  position: relative;
}
.left img {
  border-radius: 0.3rem;
  width: 25rem;
  height: auto;
  object-fit: fill;
}
.gradient {
  z-index: 4;
  transform: translateY(-62px);
  height: 10vh;
  width: auto;
  background: linear-gradient(to top, #111 0%, rgba(255, 255, 255, 0) 100%);
}
.right {
  margin-top: 2rem;
  width: 50%;
}
.header_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.original_title {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 600;
}
.vote_average {
  font-size: 1.6rem;
}
.star_icon {
  font-size: 1.4rem;
  color: #fae517 !important;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
}
.date_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: small;
}
.date_wrapper p {
  color: var(--secondary);
  padding-right: 1rem;
  font-weight: 500;
}
.date_wrapper p:not(:first-child) {
  padding-left: 1rem;
  border-left: 0.6px solid var(--secondary);
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  color: var(--secondary);
  font-weight: 600;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 0.3rem;
}
.nav p {
  margin-right: 4rem;
  cursor: pointer;
  position: relative;
}
.nav p:hover {
  color: var(--primary);
}
.active {
  color: var(--primary);
}
.active::after {
  content: '';
  position: absolute;
  bottom: -1.4rem;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--red);
  border-radius: 1rem;
}
.overview {
  font-size: 0.8rem;
  line-height: 1.9;
  margin-top: 1.3rem;
}
.casts_wrapper,
.createdby_wrapper,
.genre_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  font-size: small;
}
.casts_wrapper p:first-child,
.createdby_wrapper p:first-child,
.genre_wrapper p:first-child {
  color: var(--secondary);
}
.trailer_wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: 2rem;
}
.video_player {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.card {
  min-height: 10rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-left: 0.3rem;
}

.card img {
  border-radius: 0.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.card:hover .movie_title_wrapper {
  display: block;
}
.card:hover img {
  transform: scale(1.1);
}
.movie_title_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  display: none;
}
.movie_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: x-small;
  padding-top: 5rem;
}
.recommended_wrapper {
  margin-top: 2rem;
  width: 100%;
}
.favorites_btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #f3f3f3;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
}
@media (max-width: 1100px) {
  .trailer_wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 2rem;
  }
  .video_player {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .movie_wrapper {
    padding: 7rem 2rem;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap-reverse;
    color: var(--primary);
  }
  .right {
    margin-top: 2rem;
    width: 100%;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    color: var(--secondary);
    font-weight: 600;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: 0.3rem;
    margin-right: 2rem;
  }
  .nav p {
    cursor: pointer;
    position: relative;
    font-size: 0.7rem;
  }
  .original_title {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
  }
  .vote_average {
    font-size: 1.2rem;
  }
  .star_icon {
    font-size: 1.2rem;
    color: #fae517 !important;
    margin-bottom: 0.2rem;
    margin-left: 0.1rem;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 0.3rem;
  }
}
