.body {
  overflow: hidden;
  position: relative;
}
.title {
  font-size: 1.2rem;
  color: #f3f3f3;
  padding: 1rem;
  margin-top: 2rem;
}

.card {
  min-height: 10rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-left: 0.3rem;
}

.card img {
  border-radius: 0.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.card:hover .movie_title_wrapper {
  display: block;
}
.card:hover img {
  transform: scale(1.1);
}

.movie_title_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  display: none;
}
.movie_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: x-small;
  padding-top: 5rem;
}
