.auth_wrapper {
  background-image: url('../../assets/netflix_bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: 1.9rem;
}

.gradient {
  position: fixed;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.gradient2 {
  position: fixed;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
