
.main {
    width: 100vw;
    height: 80vh;
}
.movie_wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.img {
    height: 80vh!important;
    width: 100vw !important;
    object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: -2;
}

.details {
    position: relative;
    bottom: -13rem;
    left: 3rem;
}
.title {
    color: #F3F3F3;
    font-size:1.8rem;
    font-weight: 800;
}
.date {
    color: #F3F3F3;
}
.overview{
    color: #F3F3F3;
    text-align: start;
    width: 35rem;
    font-size: 1rem;
    font-weight: 500;
}
.play{
    background-color: #F3F3F3;
    border: none;
    height: 2.2rem;
    width: 5rem;
    margin-right: 1rem;
}
.later {
    background-color: transparent;
    border:1px solid #F3F3F3 !important;
    height: 2.2rem;
    width: 7rem;
    color: #F3F3F3;
}
.btns_wrapper {
    margin: 0.1rem 0 1rem 0;

}
.gradient {
    position: absolute;
    height: 80vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0,0,0,3) 0%, rgba(255,255,255,0) 100%);
}
@media screen and (max-width:500px){
    .img {
        height: 50vh!important;
        width: 50vw !important;
        object-fit: cover;
        z-index: -2;
    }    
    .main {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
    }
    .movie_wrapper{
        width: 100vw;
        height: 50vh;
        z-index: 10;
    }
    .details {
        position: relative;
        top: 1rem;
        left: 1rem;
        padding-top: 2.5rem;
    }
    .title {
        color: #F3F3F3;
        font-size:1.2rem;
        font-weight: 800;
    }
    .date {
        color: #F3F3F3;
        font-size: 0.9rem;
    }
    .overview{
        color: #F3F3F3;
        text-align:start;
        width: 0.3vw;
        font-size: 0.3vw;
        padding: 0 1rem 0 0;
    }
    .play{
        background-color: #F3F3F3;
        border: none;
        height: 2rem;
        width: 4rem;
        margin-right: 1rem;
    }
    .later {
        background-color: transparent;
        border:1px solid #F3F3F3 !important;
        height: 2rem;
        width: 7rem;
        color: #F3F3F3;
    }
    .btns_wrapper {
        margin-bottom: 1rem;
    }
    .gradient {
        position: absolute;
        height: 80vh;
        width: 120vw;
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    }
}
@media screen and (max-width: 800px) {
    .img {
        height: 60vh!important;
        width: 100vw !important;
        object-fit: cover;
        position:fixed;
        z-index: -2
    }
    .main {
        width: 100vw;
        height: 60vh;
        overflow: hidden;
    }
    .movie_wrapper{
        width: 100vw;
        height: 60vh;
        z-index: 10;
    }
    .details {
        position: relative;
        top: 7rem;
        left: 1rem;
    }
    .title {
        color: #F3F3F3;
        font-size:1.1rem;
        font-weight: 800;
    }
    .date {
        color: #F3F3F3;
        font-size: 0.9rem;
    }
    .overview{
        color: #F3F3F3;
        text-align:start;
        width: 23rem;
        font-size: 0.9rem;
    }
    .play{
        background-color: #F3F3F3;
        border: none;
        height: 2rem;
        width: 4rem;
        margin-right: 1rem;
    }
    .later {
        background-color: transparent;
        border:1px solid #F3F3F3 !important;
        height: 2rem;
        width: 7rem;
        color: #F3F3F3;
    }
    .btns_wrapper {
        margin-bottom: 1rem;
    }
    .gradient {
        position: absolute;
        height: 80vh;
        width: 100vw;
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    }
}