
.main {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}
.movie_wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.img {
    height: 100vh!important;
    width: 100vw !important;
    object-fit: cover;
}

.details {
    position: relative;
    bottom: 28rem;
    left: 3rem;
}
.title {
    color: #F3F3F3;
    font-size:2rem;
    font-weight: 800;
}
.date {
    color: #F3F3F3;
}
.overview{
    color: #F3F3F3;
    text-align: justify;
    width: 35rem;
}
.play{
    background-color: #F3F3F3;
    border: none;
    height: 2.2rem;
    width: 5rem;
    margin-right: 1rem;
}
.later {
    background-color: transparent;
    border:1px solid #F3F3F3 !important;
    height: 2.2rem;
    width: 7rem;
    color: #F3F3F3;
}
.btns_wrapper {
    margin: 2rem 0 1rem 0;

}
.gradient {
    position: absolute;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

@media (max-width: 640px) {
    .details {
        position: relative;
        bottom: 20rem;
        left: 1rem;
    }
    .title {
        color: #F3F3F3;
        font-size:1.2rem;
        font-weight: 800;
    }
    .date {
        color: #F3F3F3;
        font-size: 0.9rem;
    }
    .overview{
        color: #F3F3F3;
        text-align:start;
        width: 20rem;
        font-size: 0.9rem;
    }
    .play{
        background-color: #F3F3F3;
        border: none;
        height: 2rem;
        width: 4rem;
        margin-right: 1rem;
    }
    .later {
        background-color: transparent;
        border:1px solid #F3F3F3 !important;
        height: 2rem;
        width: 7rem;
        color: #F3F3F3;
    }
    .btns_wrapper {
        margin-bottom: 1rem;
    }
}