.movies_carousel {
  background-color: #111;
  height: auto;
  width: 100vw;
  padding-bottom: 5rem;
  z-index: 1;
  position: relative;
}
.gradient {
  position: relative;
  z-index: 4;
  transform: translateY(-62px);
  height: 10vh;
  width: 100vw;
  background: linear-gradient(to top, #111 0%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1200px) {
  .gradient {
    z-index: 4;
    transform: translateY(-59px);
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to top, #111 0%, rgba(255, 255, 255, 0) 100%);
  }
}
