
.title {
    color: #E50914 !important;
    text-transform: uppercase;
    font-weight:900;
    cursor: pointer;
    font-size: 2.2rem !important;
    margin-right: auto;
    margin-left: 1rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1rem;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
    z-index: 100;
    width: 100vw;
    position: absolute;
}

.signup_button {
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 0.4rem 1.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 1rem;

}
.button_wrapper {
    display: flex;
    padding: 0.5rem 1rem 0 0;
    justify-content: center;
    align-items: center;
}
.signin_button {
    color: white !important;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    margin-right: 1rem;
    background: none;
}
.username_wrapper {
    display: flex;
    padding: 0.5rem 3rem 0 0;
    justify-content: center;
    align-items: center;
}
.username {
    color: #F3F3F3;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1rem;
    padding-top: 5rem;
}
.logout_button {
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.3rem 0.9rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.favorites {
    color: #F3F3F3;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 5rem;
}
@media all and (max-width:300px) {
    .username_wrapper {
        margin-right: 1rem;
    }  
    .username {
        color: #F3F3F3;
        font-weight: 600;
        font-size: 0.9rem;
    }
    
    .title {
        color: #E50914 !important;
        text-transform: uppercase;
        font-weight:900;
        cursor: pointer;
        font-size: 2rem !important;
        margin-right: auto;
        margin-left: 1rem;
        letter-spacing: 1px;
    }
}

@media all and (max-width:500px) {
    .signup_button {
        background-color: #E50914;
        color: white;
        border: none;
        font-size: 1.1rem;
        padding: 0.4rem 1.1rem;
        border-radius: 0.2rem;
        cursor: pointer;
    
    }
    .signin_button {
        color: white !important;
        font-size: 0.8rem;
        cursor: pointer;
        border: none;
        margin-right: 1rem;
        background: none;
    }
    .username_wrapper {
        padding-right: 0.4rem;
    }
    .username {
        color: #F3F3F3;
        font-weight: 600;
        font-size: 0.9rem;
    }
    .logout_button {
        background-color: #E50914;
        color: white;
        border: none;
        font-size: 1.1rem;
        padding: 0.4rem 1.1rem;
        border-radius: 0.2rem;
        cursor: pointer;
        margin-right: 1rem;
        font-size: 0.8rem;
    }

    .title {
        color: #E50914 !important;
        text-transform: uppercase;
        font-weight:900;
        cursor: pointer;
        font-size: 1.4rem !important;
        margin-right: auto;
        margin-left: 1rem;
        letter-spacing: 1px;
    }

}
