.body {
  background-color: #111;
  height: auto;
  color: #6b6b6b;
}
.footer_wrapper {
  padding: 0.8rem 7rem;
}
.footer_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.question_text {
  margin-left: 8.8rem;
}
li {
  list-style: none;
  line-height: 3;
  font-size: small;
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}
.select_wrapper {
  margin: 2rem 0 1rem 9rem;
}

.select_wrapper select {
  background-color: transparent;
  color: #c4c2c2;
  padding: 0.8rem 0 0.8rem 3rem;
  appearance: none;
  width: 8rem;
  height: 3.5rem;
  position: relative;
}
.globe {
  position: absolute;
  left: 17rem;
  margin: 1.1rem 0 1rem 0;
  color: #c4c2c2;
}
.triangle {
  position: absolute;
  left: 22.5rem;
  color: #c4c2c2;
  margin: 1.2rem 0 0 0;
}

.select_wrapper select option {
  background-color: #111;
  color: #c4c2c2;
}
.brand_name_wrapper {
  margin-left: 9rem;
}
.brand_name_wrapper p {
  font-size: small;
}

@media screen and (max-width: 500px) {
  .footer_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer_wrapper {
    padding: 0.1rem 0.1rem;
  }
  .question_text {
    margin-left: 1.8rem;
  }
  .globe {
    position: absolute;
    left: 2.4rem;
    margin: 1.1rem 0 1rem 0;
    color: #c4c2c2;
  }
  .triangle {
    position: absolute;
    left: 8.1rem;
    color: #c4c2c2;
    margin: 1.3rem 0 0 0;
  }
  .select_wrapper {
    margin: 2rem 0 1rem 1.5rem;
  }
  .brand_name_wrapper {
    margin-left: 1.5rem;
  }
  li {
    list-style: none;
    margin-top: 1rem;
    font-size: 0.6rem;
    cursor: pointer;
    padding-right: 1.4rem;
  }
}
