.body {
    overflow: hidden;
    position: relative;
}
.title {
    font-size: 1.2rem;
    color: #F3F3F3;
    padding: 1rem;
    margin-top: 2rem;
}

.card {
    min-height: 10rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
}
.card img {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: auto;
    height: auto;
    object-fit: cover;
}
.movie_title_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 10rem;
    background: black;
    opacity: 0.8;

}
.movie_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F3F3;
    font-size: x-small;
    padding-top: 5rem;
}